.home-bg-image {
  background-image: url('../../assets/bg-home.jpg');
  background-size: cover;
  position: relative;
  background-position: center;
  height: 100vh;
  color: #fff;
}

.home-header {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.brand-icon {
  width: 210px;
  height: 210px;
  border-radius: 50%;

  @media screen and (min-width : 768px) and (max-width : 1000px) {
    width: 160px;
    height: 160px;
  }
}

.home-header .name {
  margin: 25px 0px 0px;
  font-size: 42px;
  line-height: 70px;
  font-weight: 700;
  letter-spacing: 2px;
  font-family: 'Poppins', sans-serif;
}

.home-header .title {
  color: #d4d4d4;
  font-size: 24px;
  line-height: 40px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
}

.add-margin {
  margin: 5px;
}

.no-left-margin {
  margin-left: -3px;
}
