.footer {
  width: 100%;
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(242,237,255,1) 45%);
  height: 50px;
  color: rgba(29, 36, 46, 1);;
  text-align: center;
  align-items: center;
  line-height: 50px;
}