.header {
  padding: 20px 0px !important;
  background-color: rgba(29, 36, 46, 0.9);
  backdrop-filter: saturate(180%) blur(20px);
  position: fixed;
  top: 0;
  width:100%;
  z-index: 100;

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.header .name {
  color: #fff;
  margin: 25px 0px 0px;
  font-size: 38px;
  font-weight: 600;
}

.header .title {
  color: #d4d4d4;
  font-size: 24px;
  font-weight: 400;
}

.brand-icon {
  width: 180px;
  height: 180px;
  border-radius: 50%;

  @media screen and (min-width : 768px) and (max-width : 1000px) {
    width: 160px;
    height: 160px;
  }
}

.add-margin {
  margin: 5px;
}

.no-left-margin {
  margin-left: -3px;
}

.center-element {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  
  @media screen and (max-width: 767px) {
    justify-content: flex-start;
    margin-top: 15px;
    display: block;
  }
}

.center-element .contact-button {
  font-weight: 500;
}
