.header {
  padding: 20px 0px !important;
  background-color: rgba(41, 41, 41, 0.15);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  font-family: 'Poppins', sans-serif;
}

.header-black {
  background-color: rgba(41, 41, 41, 0.75);
}

.navbar-links {
  font-weight: 700;
  margin-bottom: 0px;
  font-size: 18px;
  line-height: 27px;
  color: #ffffff !important;
  margin-top: 4px; 
  margin-left: 4vw; 
  text-align: left !important;
}

.navbar-light .navbar-toggler-icon{
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

.navbar-light .navbar-toggler {
  border: none;
}

.header .contact-button {
  font-weight: 700;
  margin-left: 4vw; 
  margin-right: 4vw;
  margin-top: 4px;
  line-height: 27px;
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
